/**
I would define variables if use scss
Native css variable is not fully supported
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #347EB9;
    text-decoration: none;
}
a:hover {
    color: #00719b;
    text-decoration: underline;
}

.global-menu {
    background-color: #262626;
}

.global-menu__wrapper {
    max-width: 1152px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.global-menu__menu {
    color: white;
    font-size: 14px;
}

.global-menu__logo {
    width: 284px;
}

.header-container {
    background-color: #F4F7F1;
}

.header-container__wrapper {
    max-width: 1152px;
    color: #537B20;
    font-size: 22px;
    margin: 0 auto;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.content-container {
    background-color: white;
}

/*Borrow a loader from w3schools*/
/*Kudos to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader*/
.content-container__loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #81B441;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.content-container__wrapper {
    max-width: 1152px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.content-container__header {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    font-weight: bold;
    color: #373737;
}

.content-container__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-container__item-wrapper {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #E7E7E7;
}

.five-stars {
    background-color: #F6F2CA;
}

.content-container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.content-container__removebtn {
    color: #BE2121;
    cursor: pointer;
}
.content-container__removebtn:hover {
    color: red;
}
.content-container__rating {
    color: #7D7D7D;
}
content-container__thumbnail {
    width: 80px;
    height: 80px;
}


@media only screen and (max-width: 1024px) {
    .content-container__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .content-container__item-wrapper {
        max-width: 480px;
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .global-menu__logo {
        width: 155px;
    }

    .global-menu__menu {
        font-size: 12px;
    }
}
